.blog__info {
    display: flex;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 2rem;

    // & p {
    //     padding-left: 0.5rem;
    // }

    &__container {
        display: flex;
        gap: 0.5rem;
    }
}