@import "../../../scss/foundation/variables";

nav {
    display: flex;
    gap: 8rem;
    align-items: center;
    padding-left: $nav-padding-left;
    padding-top: $nav-padding-top;
    padding-right: $nav-padding-right;
}

.nav__links {
    display: flex;
    gap: 9rem;
    padding-right: 3rem;
}